.profile__edit-button {
  padding: 0;
  border: none;
  background-image: url("../../../images/edit-button.svg");
  background-position: 0 15px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.profile__edit-button:hover {
  opacity: .6;
}

/* @media screen and (max-width: 320px) {
  .profile__edit-button {
    background-position: 0 8px;
  }
} */

@media screen and (max-width: 456px) {
  .profile__edit-button {
    background-position: 0 8px;
  }
}