.profile__edit-button {
  padding: 0;
  border: none;
  background-image: url("../../../images/edit-button.svg");
  background-position: 0 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .profile__edit-button {
    background-position: 0 8px;
    background-size: 16px;
  }
}