.popup__close-button {
  justify-self: end;
  margin-right: -76px;
  margin-top: -74px;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/close-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: -22px;
    margin-top: -61px;
  }
}