.popup__close-button_type_full-img {
  margin-top: -40px;
  margin-right: -40px;
}

@media screen and (max-width: 540px) {
  .popup__close-button_type_full-img {
    margin-top: -36px;
    margin-right: 0;
  }
}